{% assign maxRelated = 5 %}

{% assign minCommonCategories =  3 %}

{% assign maxRelatedCounter = 0 %}

{% for post in site.posts %}

    {% assign sameCategoriesCount = 0 %}
    {% assign commonCategories = '' %}

    {% for tag in post.tags %}

    {% if post.url != page.url %}
        {% if page.categories contains categories %}
        {% assign sameCategoriesCount = sameCategoriesCount | plus: 1 %}
        {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
        {% assign commonCategories = commonCategories | append: Categoriesmarkup %}
        {% endif %}
    {% endif %}
    {% endfor %}

    {% if sameCategoriesCount >= minCommonCategories %}
    <div>
    <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}{{ commonCategories }}</a></h5>
    </div>
    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
    {% if maxRelatedCounter >= maxRelated %}
        {% break %}
    {% endif %}
    {% endif %}

{% endfor %}
